body {
  position: relative;
  left: 50%;
  margin-left: -360px;
  max-width: 720px;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header {
  margin-bottom: 12.5px;
  font-size: 22.5px;
}

.subheader {
  font-size: 17.5px;
  margin-bottom: 25px;
}

.text {
  margin-bottom: 50px;
  font-size: 15px;
}

.map {
  margin-bottom: 12.5px;
}

.d3-tip {
  background-color: white;
}

svg {
  font-size: 15px;
}
